.container__feedback-alunas-dois {
    padding-top: 5em;
    background: linear-gradient( #F5E3E2 3%,  rgba(245, 227, 226, 0.5) 15%, rgba(174, 86, 98, 0) 25%, rgba(179, 90, 102, 0.9) 23%)
}

.container__feedback-alunas-dd{
    padding-top: 2.5em;
}

.container__feedback__titulos{
    text-align: center;
    font-weight: bold;
    color: #5D2935;
    font-size: 1em;
    margin: 0 3em;
}

.seta-para-baixo-feedback2{
    text-align: center;
    margin-top: -5em ;
}

.swiper-celular{
    text-align: center;
    box-sizing: border-box;
}

.swiper-slide-celular img{
    width: 100%;
}