@import url(/Style/feedback-celular.css);
@import url(/Style/footer.css);
@import url(/Style/primeiro-conteudo.css);
@import url(/Style/modulos.css);
@import url(/Style/frase\ da\ Alana.css);
@import url(/Style/feedback-alunas-um.css);
@import url(/Style/about.css);
@import url(/Style/bonus.css);
@import url(/Style/alunas.css);
@import url(/Style/perguntas-e-respostas.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --fonte-primaria: "Montserrat";
    --fonte-secundaria: "Century";
    --fonte-terciaria: "Rafaela Signature";
    --cor-primaria: #5D2935;
    --cor-secundaria: #FFF2F1;
    --cor-um-do-gradiente: #faecec;
    --cor-dois-do-gradiente: #E6C5CA;
    --cor-tres-do-gradiente: #CA848A;
    --cor-quarto-do-gradiente: #B35A66;
    --cor-cinco-do-gradiente: #AE5662;
    --cor-texto-frase: #F5E3E2;
    --cor-botao: #2F2D30;
    --cor-texto-destaque: #5D2935;

}

body {
    font-family: var(--fonte-primaria);
    font-size: 1em;
    background-image: url(/Assets/Group\ 9.svg);
}

main {
    background-color: var(--cor-cinco-do-gradiente);
}