.container__alunas {
  background-image: url(/Assets/bg-artner.svg);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  align-items: center;
  padding-bottom: 9rem;
  min-width: 39em;
  max-width: 70em;
  background: linear-gradient(rgba(174, 86, 98, 0) 50%, #B35A66 80%, rgba(245, 227, 226, 0.6) 90%, #F5E3E2);
  margin: 2rem auto 0;
}

.container__alunas h2 {
  width: 24.5rem;
  height: 4.2rem;


  color: #F5E3E2;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.botão__alunas-web {
  display: none;
}


@media (min-width: 1400px) {
  .container__alunas {
    background: #FFF2F1;
    border-radius: 2rem;
    min-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 5.5rem 14.2rem;
    gap: 6rem;
    justify-content: space-between;
  }

  .container__alunas h2 {
    color: #B35A66;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: 700;
    width: 43rem;
    height: 13rem;
    text-align: left;
  }

  .alunas__imagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 3rem;
  }

  .titulo-e-botao {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    height: 28.1rem;
    justify-content: space-between;
  }

  .botão__alunas-web {
    display: block;
    width: 29rem;
    height: 6rem;
    border-radius: 1.5rem;
    background: #2F2D30;
    padding: 1rem;
    text-decoration: none;
  }

  .botão__alunas-web p {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #CA848A 0%, #F5E3E2 58.33%, rgba(202, 132, 138, 0.92) 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .imagem-alunas {
    width: 29.2rem;
    height: 28.5rem;
  }


}