.container__modulos {
  background: #AE5662;
  background-image: url(/Assets/background.svg);
  min-width: 39.9rem;
  height: 60.2rem;
  padding: 4.7rem 0.9px 6.3rem;
  margin-top: 0 auto;
}

.modulos__titulo {
  display: flex;
  gap: 7px;

  margin: 0 auto;
}

.marcador-modulo {
  display: block;
}


.modulos__titulo-texto {
  color: #F5E3E2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}

.modulos__fases {
  margin: 2.1rem auto 6.2rem;

  width: 37.3rem;
  height: 44.9rem;
}

.modulo-um {
  display: flex;
  width: 27.7rem;
  height: 11.3rem;
  margin-left: 8.4rem;
  z-index: 100;
  gap: 1rem;
}

.modulo__um-img {
  z-index: 100;
}

.modulo__um-textos {
  width: 17.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  align-items: center;
}

.modulo-titulo-um {
  background: #FFF2F1;
  padding: 0 7px;

  width: 17.4rem;

  border-radius: 1rem;

  color: #5D2935;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.modulo-um-texto {
  width: 17.7rem;

  color: #FFF2F1;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modulo-dois {
  display: flex;
  width: 27.7rem;
  height: 11.3rem;
  text-align: center;
  gap: 1rem;
}

.modulo__dois-textos {
  display: flex;
  flex-direction: column;
  width: 27.3rem;
  height: 11.2rem;
  gap: 1rem;
}

.modulo-titulo-dois {
  background: #FFF2F1;
  width: 16.6rem 2.1rem;
  font-size: 1.6rem;
  border-radius: 1rem;

  color: #B35A66;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modulo-dois-texto {
  color: #F5E3E2;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modulo__dois-img {
  z-index: 80;
}

.modulo-tres {
  display: flex;
  gap: 2rem;
  margin: -.5rem 0 0 8.6rem;
}

.modulo__tres-img {
  width: 8.8rem;
  height: 11.3rem;
  z-index: 79;
}

.modulo__tres-textos {
  width: 18.1rem;
  height: 8.1rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  align-items: center;
}

.modulo-titulo-tres {
  color: #CA848A;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  background-color: #FFF2F1;
  width: 16.5rem;
  height: 2rem;
  border-radius: 1rem;
}

.modulo-tres-texto {
  color: #FFF2F1;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.modulo-quatro {
  display: flex;
  margin-right: 10rem;
}

.modulo__quatro-textos {
  width: 17.2rem;
  height: 9.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.modulo-titulo-quatro {
  width: 16.4rem;
  height: 2rem;

  border-radius: 1rem;
  background: #FFF2F1;

  color: #E6C5CA;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modulo-quatro-texto {
  width: 17.2rem;
  height: 6.4rem;

  color: #FFF2F1;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modulos__web {
  display: none;
}

.modulos-web-new {
  display: none;
}

.botao__compra-web2 {
  display: none;
}

.logo__moduo-web{
  display: none; 
}

@media (min-width: 1400px) {
  .caixa__container-modulos {
    text-align: center;
  }

  .container__modulos {
    display: flex;
    background: #FFF2F1;
    border-radius: 2rem;
    gap: 2.4rem;
    justify-content: space-between;
    padding: 6.7rem 7.1rem 0;
  }

  .modulos__titulo {
    width: 28.6rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    margin-top: 10rem;

  }

  .modulos__titulo-texto {
    display: none;
  }

  .modulos__web {
    display: block;
  }

  .marcador-modulo {
    display: none;
  }

  .modulos__fases {
    display: none;
  }

  .img-mobile-um,
  .img-mobile-dois,
  .img-mobile-tres,
  .img-mobile-quatro {
    display: none;
  }

  .modulos-web-new {
    display: block;
  }

  .botao__compra-web2 {
    display: inline-block;
    padding: 1.6rem 2.8rem;
    border-radius: 1.5rem;
    background-color: hsla(280, 3%, 18%, 1);
    font-size: 4rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    position: relative;
    top: -4rem;
    font-weight: 600;
  }

  .botao__compra-web2 p{
    background: linear-gradient(180deg, #CA848A 0%, #F5E3E2 58.33%, rgba(202, 132, 138, 0.92) 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .logo__moduo-web{
    display: block;
  }

}