.caixa__pitch {
  min-width: 39;
}

.container__pitch-swiper {
  background: #8D3743;
  background-image: url(/Assets/bg-artner.svg);
  background-repeat: no-repeat;
  min-width: 39em;
  margin: 0 auto;
}

.pitch {
  text-align: center;
  margin: 2rem 3.5rem 4.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

.pitch__texto {
  font-size: 1.5rem;
  color: #FFF2F1;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pitch a {
  padding: .8rem 1.5rem;
  background: #F5E3E2;

  border-radius: 1.5rem;

  text-decoration: none;
  font-size: 1.9rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 150px white;
}

.pitch a:hover {
  font-size: 2.3rem;
}



a .p1 {
  color: #2F2D30;
  font-weight: 600;
  display: block;
}

a .p2 {
  display: none;
}

.swiper__marcador-titulo {
  display: flex;
  gap: 1.3rem;
}

.titulo__swiper1-web {
  display: none;
}

.img-marcador {
  display: block;
}

.swiper__marcador-titulo h2 {
  color: #F5E3E2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  font-size: 17px;
  font-weight: 700;
  line-height: normal;

}

.swiper {
  text-align: center;
  margin: 2.9rem auto 4.9rem;
  width: 100%;
  height: auto;
}

.swiper-slide img {
  min-width: 50%;
  height: 90%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-scrollbar {
  display: none;
}

@media (min-width: 1400px) {
  .caixa__pitchr {
    min-width: 140rem;
    max-width: 220rem;
  }

  .container__pitch-swiper {
    display: flex;
    flex-direction: row-reverse;

    gap: 5rem;

    justify-content: space-between;

    max-width: 116.2rem;
    height: 50rem;
    margin: 12.4rem auto;
  }

  .img-marcador {
    display: none;
  }

  .pitch__texto {
    color: #FFF2F1;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 100%;  
  }

  .pitch{
    max-width: 52.8rem;
    max-height: 38.4rem;
    margin: 0;
    justify-content: space-between;
  }

  .pitch a {
    display: inline-block;
    width: 33.7rem;
    padding: 2rem 2.6rem;
    background: #2F2D30;

    border-radius: 1.5rem;

    text-decoration: none;
    font-size: 3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 150px white;
  }
  .pitch a:hover {
    font-size: 3.2rem;
  }

  a .p1 {
    display: none;
  }

  a .p2 {
    display: flex;
    background: linear-gradient(180deg, #CA848A 0%, #F5E3E2 58.33%, rgba(202, 132, 138, 0.92) 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    display: block;
  }

  .swiper__titulo {
    color: #F5E3E2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }

  .swipwer__caixa {
    width: 56.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .swiper__marcador-titulo {
    display: none;
  }

  .titulo__swiper1-web {
    display: block;
    text-align: center;
  }

  .swiper-slide img{
    width: 49.2rem;
  }

}